body{
    background-color: #1f2937;
    height: auto;
    width: auto;

}

.header{
    display: flex;
    gap: 16px;
    justify-content: space-around ;
}

.logo{
    font-size: 29px;
    color: #F9FAF8;
}

a{
    color: #e5E7EB;
    text-decoration: none;

}
ul{
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 24px;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.left_container{
    display: flex;
    flex-shrink: 1;
    width: 500px;
    flex-wrap: wrap;
    margin-right: 30px;
}   
.website_awesome{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left_container.text{
    display: flex;
    font-size: 18px;
    color: #e5E7EB;
    text-align: start;
}

img{
    width: 500px;
}

.button1{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #3383f6;
    color: white;
    border-radius: 6px;

}
.white_container{
    background-color: white;
    margin-top: 140px;
}

.info{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container_card{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.contain_info{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    gap: 8px;
}

.card{
    border: 6px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    display:flex;

    
}

.text{
    text-align: center;
}

.gray_container{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    height: 400px;
}

.quote{
    font-size: 36px;
    font-style: italic ;
    color: #1F2937;
    display: flex;
    width: 760px;
}

.quote_name{
    font-weight: bold;
    display: flex;
    margin-left: 500px;
}

.white_container2{
    background-color: white;
    display: flex;
    justify-content: center;
}

.blue_container{
    display: flex;
    background-color: #3882F6;
    width: 900px;
    height: 150px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px;
    border-radius: 8px;

}

.call-to-action{
    font-size: 24px;
    color: white;
    font-weight: bold;

}
.button2{
    color: white;
    background-color: #3882F6;
    height: auto;
    width: 100px;
    font-size: 16px;
    border-radius: 6px;
    margin-left: 50px;
    border-color: white;

}
.text2{
    color: white;
}

.copyright{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}